.msgCntr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 0.5em;
}

.query {
    grid-column: 2/4;
    background-color: var(--accentclr);
    padding: 0.5em;
    border-radius: 0.7em;
    overflow-x: auto;
}

.response {
    grid-column: span 3;
}

.review {
    grid-column: span 3;
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: flex-end;
    & > button {
        all: unset;
        cursor: pointer;
        border: 1px solid lightgray;
        padding: 0.2em 0.4em;
        border-radius: 50%;
    }
}

.msgCntr + .msgCntr::before {
    content: '';
    width: 90%;
    border-top: 0.3px solid var(--accentclr);
    margin: 0 auto;
    grid-column: span 3;
}

.customTooltip {
  padding: 0.2em 0.4em !important;
  min-height: 1.2em !important;
  vertical-align: middle;
}
